@import '../../../assets/scss/common/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

div.main-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 48px);
  padding: 0 24px;
  gap: 16px;
  margin-top: 16px;

  div.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    div.title {
      padding: 4px 8px;
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;
      flex-grow: 1;

      > h2,
      > h4 {
        padding: 0px;
        margin: 0px;
      }

      > h2 {
        padding-left: 24px;
        position: relative;

        &.no-padding {
          padding-left: 0;
        }

        .mat-icon {
          position: absolute;
          bottom: 4px;
          left: -6px;
          cursor: pointer;
        }
      }
      > h4 {
        font-size: 12px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
}

::ng-deep {
  app-wp-details-view {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
