@import '../../../assets/scss/common/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

div.main-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 48px);
  padding: 0 24px;
  min-height: 320px;
  gap: 16px;
  margin-top: 16px;

  > div.page-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
  }

  > div.stats-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: 100%;
    min-height: 48px;

    > .stats-box {
      display: flex;
      flex-direction: column;
      width: calc(25% - 44px);
      height: 64px;

      @include media-breakpoint('lt-md') {
        width: calc(50% - 40px);
      }

      @include media-breakpoint('lt-sm') {
        width: 100%;
      }

      .stats {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 8px;

        .mat-icon {
          font-size: 64px;
          min-height: 64px;
          min-width: 64px;
          width: 64px;
          height: 64px;
        }

        > div.value {
          display: flex;
          flex-direction: column;
          gap: 4px;

          > span {
            &:first-child {
              font-size: 20px;
              font-weight: 600;
            }

            &:last-child {
              font-size: 14px;
              font-weight: 500;
              color: rgba(0, 0, 0, 0.54);
            }
          }
        }
      }
    }
  }

  > div.pending-transfers {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;

    > div.transfer-notification {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
      padding: 8px 16px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      background-color: rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      min-height: 32px;
      justify-content: space-between;
      align-items: center;
    }
  }

  div.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 32px;

    &.single-tab {
      margin-top: 16px;
    }

    > .mat-spinner {
      margin: 32px;
    }

    @include media-breakpoint('lt-md') {
      .mat-header-row {
        display: none;
      }
    }

    .mat-row {
      align-items: flex-start;
      &:nth-child(even) {
        background-color: #fafafa;
      }
    }

    .mat-cell {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;

      padding: 8px 4px;

      &:first-of-type {
        padding: 8px 0 8px 24px;
      }

      &:last-of-type {
        padding: 8px 24px 8px 0;
        align-items: flex-end;

        &:not(.mobile-cell) {
          .mat-icon {
            font-size: 18px;
            width: 18px;
            height: 18px;
            min-width: 18px;
            min-height: 18px;
            opacity: 0.85;
          }
        }
      }

      span {
        font-size: 12px;
      }

      small.label {
        opacity: 0.85;
        font-weight: 500;
        text-transform: uppercase;
      }

      &.mobile-cell {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
        padding: 16px 8px;

        > div {
          width: calc(50% - 8px);
          display: flex;
          flex-direction: column;
          gap: 12px;

          &.id-row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 32px;
            > h3 {
              font-weight: 600;
              font-size: 20px;
              margin: 0;
              padding: 0;
              flex-grow: 1;
            }
          }

          @include media-breakpoint('lt-sm') {
            width: 100%;
          }

          > div {
            display: flex;
            flex-direction: column;

            span {
              font-size: 1.25em;
            }
          }
        }
      }
    }

    .mat-header-cell {
      padding: 8px 4px;

      &:first-of-type {
        padding: 8px 0 8px 24px;
      }

      &:last-of-type {
        padding: 8px 24px 8px 0;
      }
    }

    div.no-data {
      border-bottom: 1px solid;
      border-bottom-color: rgba(0, 0, 0, 0.12);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 16px 24px;
      font-size: 12px;
    }

    .mat-icon {
      &.desktop-approve-check {
        margin-right: 10px;
        margin-top: 8px;
        cursor: pointer;

        &.isg {
          color: green;
        }

        &.reject {
          color: red;
        }

        &.extend {
          color: blue;
        }

        @include media-breakpoint('lt-md') {
          margin: 0;
        }
      }
    }
  }

  div.paginator-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: #fff;
    gap: 8px;

    > div.loading {
      width: 24px;
    }
  }
}

::ng-deep {
  div.mat-menu-panel {
    min-height: 40px;

    div.mat-menu-content {
      padding: 0;
    }

    div.menu-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 8px;
      min-height: 24px;
      align-items: center;
      min-width: 164px;
      padding: 8px;
      cursor: pointer;
      &:hover {
        background-color: #ebe4f5;
        transition: all ease 0.3s;
      }
    }
  }
}
