<ng-container *ngIf="location">
  <span class="label">Firma: </span>
  <span class="value mb-4">{{ location.companyName }}</span>
  <span class="label">Yer/Tesis: </span>
  <span class="value mb-4">{{ location.facilityName }}</span>
  <span class="label">Çalışmanı Yapılacağı Yer: </span>
  <span class="value mb-4">{{ location.areaName }}</span>
  <div class="buttons">
    <button mat-flat-button color="default" class="left" (click)="approve.emit(false)">Vazgeç</button>
    <button mat-flat-button color="primary" (click)="approve.emit(true)">
      Seç ve Devam Et
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</ng-container>
