<ng-template #general>
  <div class="general-info" *ngIf="item">
    <div style="width: 100%">
      <div>
        <span class="accent-color" style="font-weight: 500"> {{ status }} </span>
      </div>
    </div>
    <div>
      <div>
        <small class="label primary-color">Oluşturan</small>
        <span> {{ owner }} </span>
        <small *ngIf="createdAt"> {{ createdAt | date: 'dd.MM.yyyy HH:mm' }} </small>
      </div>
      <div>
        <small class="label primary-color">İş Çağrısı</small>
        <span>{{ item.project.name }}</span>
        <small> {{ item.project.owner }} </small>
      </div>
    </div>
    <div>
      <div>
        <small class="label primary-color">Çalışma Yeri</small>
        <span>{{ item.location.areaName }}</span>
        <small> {{ item.location.areaGroupName }} </small>
      </div>
      <div>
        <small class="label primary-color">Çalışma Saati</small>
        <span
          >{{ item.workDescription.dtStart | date: 'dd.MM.yyyy HH:mm' }}
          <ng-container
            *ngIf="
              (item.workDescription.isPendingClose && item.workDescription.status === wpStatus.ACTIVE) ||
              item.workDescription.status === wpStatus.CLOSED
            "
            >- {{ item.workDescription.dtClose | date: 'dd.MM.yyyy HH:mm' }}</ng-container
          ></span
        >
        <small
          >İş İzni Bitiş : {{ item.workDescription.dtEnd | date: 'dd.MM.yyyy HH:mm' }}
          <ng-container *ngIf="item.workDescription.isExtended"> - (Süresi uzatıldı)</ng-container>
        </small>
      </div>
    </div>
    <div style="width: 100%">
      <div>
        <small class="label primary-color">İzinler</small>
        <span> {{ permissions }} </span>
      </div>
    </div>
    <div style="width: 100%">
      <div>
        <small class="label primary-color">Yüklenici</small>
        <span>{{ item.contractor.name }}</span>
      </div>
    </div>
    <div style="width: 100%">
      <div>
        <small class="label primary-color">Kişiler</small>
        <span> {{ staff }} </span>
      </div>
    </div>
    <div style="width: 100%">
      <div>
        <small class="label primary-color">Çalışmanın Tanımı</small>
        <span> {{ item.workDescription.description }} </span>
      </div>
    </div>
    <div *ngIf="item.workDescription.status !== wpStatus.REJECTED">
      <div>
        <small class="label primary-color">İSG Onayı</small>
        <span *ngIf="!item.workDescription?.isgApprove"> - </span>
        <span *ngIf="item.workDescription?.isgApprove"> {{ item.workDescription.isgApproveText ?? '-' }} </span>
      </div>
    </div>
    <div *ngIf="item.workDescription.status !== wpStatus.REJECTED">
      <div>
        <small class="label primary-color">Alan Sorumlusu Onayı</small>
        <span *ngIf="!item.workDescription?.areaApprove"> - </span>
        <span *ngIf="item.workDescription?.areaApprove"> {{ item.workDescription.areaApproveText ?? '-' }} </span>
      </div>
    </div>
    <div style="width: 100%" *ngIf="item.workDescription.status === wpStatus.REJECTED">
      <div>
        <small class="label primary-color">Onaylanmama Gerekçesi</small>
        <span> {{ item.workDescription.rejectReason }} </span>
        <small class="pt-8"> {{ item.workDescription.rejectedBy }} </small>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #details>
  <div class="general-info" *ngIf="item">
    <div style="width: 100%">
      <div>
        <small class="label primary-color">Yapılacak çaşlışmanın iş türü</small>
        <span> {{ workTypes }} </span>
      </div>
    </div>
    <div style="width: 100%">
      <div>
        <small class="label primary-color"
          >Çalışma sırasında tehlikeye veya kazaya neden olabilecek ortam ve şartlar</small
        >
        <span> {{ risks }} </span>
      </div>
    </div>
    <div style="width: 100%">
      <div>
        <small class="label primary-color">Çalışma sırasında kullanılacak ekipmanlar</small>
        <span> {{ equipments }} </span>
      </div>
    </div>
    <div style="width: 100%">
      <div>
        <small class="label primary-color">Çalışma sırasında kullanılması gereken kişisel koruyucu donanımlar</small>
        <span> {{ ppe }} </span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #questions let-ctxItem>
  <div class="general-info">
    <ng-container *ngFor="let group of ctxItem.questionGroups">
      <div style="width: 100%">
        <div>
          <small class="label primary-color"> {{ group.name }} </small>
          <ng-container *ngFor="let question of group.questions; let ix = index">
            <span> {{ ix + 1 }}. {{ question.question }} </span>
            <small class="py-4 accent-color" style="font-weight: 500"> {{ question.answerText }} </small>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <div style="width: 100%">
      <div>
        <small class="label primary-color"> Yapılan kontroller ile ilgili diğer hususlar </small>
        <span> {{ ctxItem?.controlNotes ? ctxItem.controlNotes : '-' }} </span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #gasMeasurement>
  <div class="general-info" *ngIf="item">
    <div *ngFor="let measurement of gasMeasurements">
      <div>
        <small class="label primary-color"> {{ measurement.label }}</small>
        <span> {{ measurement.value }} </span>
        <small> {{ measurement.hint }} </small>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #closeFormHeader let-ctxItem>
  <div class="general-info" style="margin-bottom: -24px">
    <ng-container *ngIf="!ctxItem.closeForm.isRejected">
      <div style="width: 100%">
        <div>
          <small class="label primary-color"> Çalışma Bitiş : </small>
          <small class="py-4" style="font-weight: 500">
            {{ ctxItem.workPermit.workDescription.dtClose | date: 'dd.MM.yyyy HH:mm' }}
          </small>
          <small
            *ngIf="ctxItem.workPermit.workDescription.isPendingClose"
            class="py-4 accent-color"
            style="font-weight: 500"
          >
            İş bitirme onayı bekliyor
          </small>
        </div>
      </div>
      <div style="width: 100%" *ngIf="ctxItem.closeForm.isgApprove">
        <div>
          <small class="label primary-color"> İSG Onayı : </small>
          <small class="py-4" style="font-weight: 500">
            {{ ctxItem.closeForm.isgApproveText ?? '' }}
          </small>
        </div>
      </div>
      <div style="width: 100%" *ngIf="ctxItem.closeForm.areaApprove">
        <div>
          <small class="label primary-color"> Alan Sorumlusu Onayı : </small>
          <small class="py-4" style="font-weight: 500">
            {{ ctxItem.closeForm.areaApproveText ?? '' }}
          </small>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="ctxItem.closeForm.isRejected">
      <div style="width: 100%">
        <div>
          <small class="py-4 accent-color" style="font-weight: 500"> Onaylanmadı </small>
          <small class="label primary-color"> İşlem Yapan : </small>
          <small class="py-4" style="font-weight: 500">
            {{ ctxItem.closeForm.rejectedByText ?? '' }}
          </small>
        </div>
        <div>
          <small class="label primary-color"> Red Gerekçesi : </small>
          <small class="py-4" style="font-weight: 500">
            {{ ctxItem.closeForm.rejectReason ?? '' }}
          </small>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<div class="title" *ngIf="item && hasTitle">
  <h3>İş İzni #{{ item.id }} Detayları</h3>
  <h4>Doldurulan iş izni formunu kontrol edin.</h4>
</div>

<mat-tab-group *ngIf="item" (selectedTabChange)="onTabChange($event)" [ngClass]="{ bordered: hasNext }">
  <mat-tab label="GENEL">
    <div class="tab-container" *ngIf="activeTab === 0">
      <ng-container [ngTemplateOutlet]="general"></ng-container>
    </div>
  </mat-tab>
  <mat-tab label="ÇALIŞMA DETAYLARI">
    <div class="tab-container" *ngIf="activeTab === 1">
      <ng-container [ngTemplateOutlet]="details"></ng-container>
    </div>
  </mat-tab>
  <mat-tab label="KONTROLLER">
    <div class="tab-container" *ngIf="activeTab === 2">
      <ng-container
        [ngTemplateOutlet]="questions"
        [ngTemplateOutletContext]="{ $implicit: controlQuestions }"
      ></ng-container>
    </div>
  </mat-tab>
  <mat-tab label="GAZ ÖLÇÜMÜ" *ngIf="gasMeasurements?.length">
    <div class="tab-container" *ngIf="activeTab === 3">
      <ng-container [ngTemplateOutlet]="gasMeasurement"></ng-container>
    </div>
  </mat-tab>
  <mat-tab label="ARA KONTROLLER" *ngIf="controlForms.length">
    <div class="tab-container" *ngIf="activeTab === (gasMeasurements?.length ? 4 : 3)">
      <ng-container *ngIf="controlForms.length === 1">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <span> {{ controlForms[0].owner }}, {{ controlForms[0].dtCreate | date: 'dd.MM.yyyy HH:mm' }}</span>
          </mat-expansion-panel-header>

          <ng-container
            [ngTemplateOutlet]="questions"
            [ngTemplateOutletContext]="{ $implicit: controlForms[0].controlQuestions }"
          ></ng-container>
        </mat-expansion-panel>
      </ng-container>
      <ng-container *ngIf="controlForms.length > 1">
        <ng-container *ngFor="let form of controlForms">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span> {{ form.owner }}, {{ form.dtCreate | date: 'dd.MM.yyyy HH:mm' }}</span>
            </mat-expansion-panel-header>

            <ng-container
              [ngTemplateOutlet]="questions"
              [ngTemplateOutletContext]="{ $implicit: form.controlQuestions }"
            ></ng-container>
          </mat-expansion-panel>
        </ng-container>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="İŞ BİTİRME" *ngIf="closeForms?.length">
    <div
      class="tab-container"
      *ngIf="activeTab === (gasMeasurements?.length ? (controlForms.length ? 5 : 4) : controlForms.length ? 4 : 3)"
    >
      <ng-container *ngIf="closeForms.length === 1">
        <ng-container
          [ngTemplateOutlet]="closeFormHeader"
          [ngTemplateOutletContext]="{ $implicit: { closeForm: closeForms[0], workPermit: item } }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="questions"
          [ngTemplateOutletContext]="{ $implicit: closeForms[0].controlQuestions }"
        ></ng-container>
      </ng-container>

      <ng-container *ngIf="closeForms.length > 1">
        <ng-container *ngFor="let form of closeForms">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span *ngIf="!form.isRejected">
                {{ form.isgApprove && form.areaApprove ? 'Onaylandı' : 'Onay Bekliyor' }}, {{ form.owner }} -
                {{ form.dtCreate | date: 'dd.MM.yyyy HH:mm' }}</span
              >
              <span *ngIf="form.isRejected"> Onaylanmadı, {{ form.rejectedByText }} </span>
            </mat-expansion-panel-header>
            <ng-container
              [ngTemplateOutlet]="closeFormHeader"
              [ngTemplateOutletContext]="{ $implicit: { closeForm: form, workPermit: item } }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="questions"
              [ngTemplateOutletContext]="{ $implicit: form.controlQuestions }"
            ></ng-container>
          </mat-expansion-panel>
        </ng-container>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="buttons" *ngIf="hasNext">
  <button mat-flat-button color="default" class="left" (click)="cancel.emit()">Vazgeç</button>
  <button mat-flat-button color="primary" (click)="next.emit()">Devam Et <mat-icon>chevron_right</mat-icon></button>
</div>
